:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* general colors */
    --font-color: rgba(255, 255, 255, 0.87);
    --font-color-soft: rgba(255, 255, 255, 0.6);
    --bg-color: #242424;
    --bg-color-header: #10112c;
    --bg-color-main: var(--bg-color);
    --bg-color-link: #646cff;
    --bg-color-link-hover: #535bf2;
    --bg-color-card: rgba(181, 184, 245, 0.1);
    --bg-color-card-hover: rgba(181, 184, 245, 0.15);
    
    /* static in both themes */
    --bg-color-footer: rgb(10, 10, 10);
    --font-color-footer: rgb(198, 203, 215);
    --font-color-soft-footer: rgba(198, 203, 215, 0.5);

    /* main colors */
    --color-1: rgb(184, 141, 173);
	--color-2: rgb(74, 150, 173);
	--color-3: rgb(161, 127, 194);
	--color-4: rgb(185, 153, 131);
	--color-5: rgb(189, 126, 138);
	--color-6: rgb(124, 177, 177);
}

/* light theme active */
@media (prefers-color-scheme: light) {
    :root {
        /* general colors */
        --font-color: rgba(0, 0, 0, 0.87);
        --font-color-soft: rgba(0, 0, 0, 0.6);
        --bg-color: #d8dbdd;
        --bg-color-header: #c6c8f7;
        --bg-color-main: #f1f1f1;
        --bg-color-link: #646cff;
        --bg-color-link-hover: #535bf2;
        --bg-color-card: rgba(100, 108, 255, 0.15);
        --bg-color-card-hover: rgba(102, 110, 255, 0.25);
        --bg-color-card-shadow: rgba(0, 0, 0, 0.2);
    }
}

/* if a user's device settings are set to reduced motion */
@media (prefers-reduced-motion) {
    * {
        animation: none;
    }
}