footer{
	width: 100%;
	min-height: 200px;
	flex-direction: column;
	padding: 15px 30px 15px 30px;
	.heading, .info{
		width: 100%;
		padding: 10px 0;
		border-bottom: 2px solid rgb(55, 55, 55);
		color: var(--font-color);
	}
	h3, p, a{
		font-size: 0.8rem;
		padding: 1px 0;
	}
	p, a{
		color: var(--font-color-soft);
	}
	.info{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 20px 30px;
		div{
			width: fit-content;
			flex-direction: column;
			align-items: start;
		}
	}
	.ubic{
		width: 100%;
		display: flex;
		justify-content: end;
		padding: 10px 0 0 0;
		p{
			padding: 0 3px;
			border-right: 1px solid rgb(55, 55, 55);
		}
		p.prov{
			border: 0;
		}
	}
}