*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg: #16161b;
  --bgBox: #1f1f1f;
  --font: rgb(201, 218, 218);
  --fontLight: rgba(201, 218, 218, 0.5);
  --c1: rgb(184, 141, 173);
  --c2: rgb(189, 126, 138);
  --c3: rgb(74, 150, 173);
  --c4: rgb(161, 127, 194);
  --c5: rgb(185, 153, 131);
  --c6: rgb(124, 177, 177);
}
body{
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--font);
}
header{
  min-height:80px;
  width:calc(100% - 40px);
  background-color:rgba(22, 22, 27, 0.5);
  backdrop-filter:blur(20px);
  position:sticky;
  box-shadow:0 5px 10px var(--fontLight);
  top:0;
  padding:0 30px;
  border-radius:0 0 25px 25px;
  margin:0 20px 0 20px;
  z-index: 100;
}
main{
  width: 100%;
  padding: 20px 0;
  section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
    h2{
      width: 100%;
      display: flex;
      margin: 0 20px;
      border-bottom: 1px solid white;
    }
    .w{
      width: 150px;
      min-height: 50px;
      border-radius: 15px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
      padding: 10px;
      display: flex;
      flex-direction: column;
      color: var(--bg);
      div.w-box{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 10px 10px 10px;
        background-color: var(--bg);
        position: relative;
        div.name, div.jap{
          width: 100%;
          height: 25px;
          display: flex;
          align-items: center;
          border-radius: 0 10px 0 0;
          z-index: 1;
        }
        div.name{
          justify-content: space-between;
          h4{
            border-radius: 0 0 10px 0;
            line-height:100%;
          }
          h5{
            border-radius: 0 0 0 10px;
            text-shadow: 0 1px 3px rgb(10, 10, 10);
            color: var(--fontLight);
          }
          h4,h5{
            height: 100%;
            padding: 0 5px 3px 0;
          }
        }
        div.jap{
          justify-content: flex-end;
          h4{
            height: 100%;
            padding:5px 0 0 7px;
            border-radius: 10px 0 0 0;
            line-height:100%;
          }
        }
        div.w-img{
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0 10px 10px 10px;
          img.found{
            height: 100%;
          }
          img.notFound{
            width: 40%;
          }
          img{
            transition: 1s ease-in-out;
          }
          img:hover{
            transform: scale(115%);
          }
        }
        
      }
    }
    .c1{
      background-color: var(--c1);
      h4{background-color: var(--c1) !important;}
    }
    .c2{
      background-color: var(--c2);
      h4{background-color: var(--c2) !important;}
    }
    .c3{
      background-color: var(--c3);
      h4{background-color: var(--c3)!important;}
    }
    .c4{
      background-color: var(--c4);
      h4{background-color: var(--c4) !important;}
    }
    .c5{
      background-color: var(--c5);
      h4{background-color: var(--c5) !important;}
    }
    .c6{
      background-color: var(--c6);
      h4{background-color: var(--c6) !important;}
    }
  }
}
footer{
  flex-direction: column;
  min-height:200px;
  width:100%;
  background-color: rgb(10, 10, 10);
  padding:15px 30px 15px 30px;
  h2,div.info{
    width:100%;
    padding:10px 0;
    border-bottom:2px solid rgb(55, 55, 55);
  }
  h3,p{
    font-size: 0.8rem;
    font-weight: 600;
    padding:1px 0;
  }
  p{
    color:rgb(140, 140, 140);
  }
  div.info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px 30px;
    div{
      width: fit-content;
      flex-direction: column;
      align-items: start;
    }
  }
  div.ubic{
    width:100%;
    display: flex;
    justify-content: end;
    padding:10px 0 0 0;
    p{
      padding:0 3px;
      border-right:1px solid rgb(55, 55, 55);
    }
    p.prov{
      border:0;
    }
  }
}
::selection{
  background:var(--c1);
  color: var(--bg);
}
.center{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
}